table{
    border-spacing: 0;
}
td{
    text-align: center;
}
.cg,.cgf{
    background-color: grey;
}
.cb,.cbf{
    background-color: #191970;
}
table{
    border: 5px solid grey;
}
thead,tfoot {
    color: white;
}
thead th{
    border: 7px solid blue;
}
.bgcg{
    background-color: #F3F3F3;
}
tbody tr, td{
    border-top: 2px dotted gray;
}
.del td{
    border: none;
}
