<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="">
    <title>Css</title>
</head>
<body>
    <header>
        <img src=" https://bibliotheques.paris.fr/ui/skins/VPCO/images/header.jpg" alt="Bibliothèque">

</div>
<h1>Bibliothèque</h1>
        <h2><a href="file:///C:/Users/Jonas%20COMPPER/Documents/code/TP/Tp%201.html">Retour à l'accueil</h2></a>
    </header>
    
    <div id="javascript">
        <h2>Css 3</h2>
            <a href=file:///C:/Users/Jonas%20COMPPER/Documents/code/TP/Page1.html><img src="https://servimg.eyrolles.com/static/media/3959/9782746093959_internet_b400x400.jpg"alt="JavaScript"></a>
            </div>
            <div class="lorem">
            <h2>Ch1</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi eius corrupti accusamus quasi. Deserunt sequi beatae quam asperiores provident mollitia atque soluta debitis, officiis repellat cumque consectetur corrupti reprehenderit sint.</p>
            <h2>Ch2</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint quidem quia ea unde accusamus id distinctio alias non. Esse quisquam architecto eum laudantium id corporis quod laboriosam aliquam totam neque.</p>
            <h2>Ch3</h2>
            <div id="effect">
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Asperiores obcaecati facilis dignissimos maiores quasi, delectus ad possimus ab quisquam officia deleniti qui eaque, quidem quam ratione quibusdam harum aperiam unde.</p></div>
            <h2>Ch4</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro deleniti ea quis molestiae tenetur similique earum, harum possimus atque, illo ipsa officia explicabo voluptatibus sunt ipsum, ut itaque nulla necessitatibus?</p>
        </div>
        </body>
</html>