<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/Normalize.css">
    <link rel="stylesheet" href="../assets/css/Base.css">
    <link rel="stylesheet" href="../assets/css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Arvo&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/0f4017ecea.js" crossorigin="anonymous"></script>
    <title>Document</title>
</head>
<body>
<nav>
  <img src="https://tf-assets-prod.s3.amazonaws.com/tf-curric/WEB-DEV-001/2.4.3_the_position_property/icon.png" alt="" class="grey">
  <!--chat de la nav-->
  <ul class="">
    <li> <a href="#">Home</a></li>
    <li> <a href="#">Display</a></li>
    <li> <a href="#">Float</a></li>
  </ul>
</nav>
<section>
  <div id="ro"></div>
   <!--rond orange--> 
</section>
<main>
  <div class="bv"></div>
  <!--bordure verte en pointillé -->
  <img src=https://tf-assets-prod.s3.amazonaws.com/tf-curric/WEB-DEV-001/2.4.3_the_position_property/spacecat.png alt="" class="cp">
  <img src="https://tf-assets-prod.s3.amazonaws.com/tf-curric/WEB-DEV-001/2.4.3_the_position_property/spacedog.png" alt="" class="dog">
  <div class="arc"></div>
  <!--div avec la bordure qui fait un arc de cercle-->
  <div id=""></div>
  <div class="paw1"><i class="fas fa-paw"></i></div>
  <!--trace de patte tout en haut-->
  <div class="paw2"><i class="fas fa-paw"></i></div>
  <!--trace de patte tout en bas-->
</main>
</body>
</html>