<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/Normalize.css">
    <link rel="stylesheet" href="../assets/css/Base.css">
    <link rel="stylesheet" href="../assets/css/style.css">
    <script src="https://kit.fontawesome.com/0f4017ecea.js" crossorigin="anonymous"></script>
    <title>Document</title>
</head>
<body>

    <header>
        <img src="../assets/img/logo.png" alt="">
        <nav>
            <div id="item1">
               <h1> item 3 </h1>
            </div>
            <div id="item2">
                <h1> item 2 </h1>
             </div>
             <div id="item3">
                <h1> item 1 </h1>
             </div>
        </nav>
    </header>
    <div id="hxh">
        <h1><i class="fab fa-angellist"></i>Hunter X Hunter</h1>
        
        <img src="../assets/img/hxh1.png" alt="">
        <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore, debitis corrupti error in tempore eaque ad placeat asperiores aliquid, sed, nobis laudantium facere molestiae molestias quam! Qui architecto maxime possimus!
        Lorem ipsum, dolor sit amet consectetur adipisicing Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum, voluptates amet. Neque, culpa dolor. Perferendis, optio quod! Earum debitis quasi magni facere perspiciatis omnis ducimus reiciendis error magnam! Perferendis, molestiae? 
        </p>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Magnam cumque aperiam maiores delectus, dolore iste neque aut? Veritatis, aspernatur. Laboriosam at dicta, nesciunt commodi inventore hic unde aliquam vitae quis!</p>
        <h2>Read more</h2>

    </div>
    <div id="hxh2">
        <h1><i class="fab fa-angellist"></i> Hunter X Hunter</h1>
        
        <img src="../assets/img/hxh2.png" alt="">
        <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore, debitis corrupti error in tempore eaque ad placeat asperiores aliquid, sed, nobis laudantium facere molestiae molestias quam! Qui architecto maxime possimus!
        Lorem ipsum, dolor sit amet consectetur adipisicing Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum, voluptates amet. Neque, culpa dolor. Perferendis, optio quod! Earum debitis quasi magni facere perspiciatis omnis ducimus reiciendis error magnam! Perferendis, molestiae? 
        </p>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Magnam cumque aperiam maiores delectus, dolore iste neque aut? Veritatis, aspernatur. Laboriosam at dicta, nesciunt commodi inventore hic unde aliquam vitae quis!</p>
    <ul>
        <li>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit.
        </li>
        <li>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit.
        </li>
        <li>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit.
        </li>
        <li>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit.
        </li>
        <li>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit.
        </li>
        <li>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit.
        </li>
    </ul>
    <h2>Read more</h2>
</div>
<footer><img src="../assets/img/EDEN_HORI_VERT-300x136.png" alt=""></footer>
</body>
</html>