*{
    box-sizing: border-box;
    text-decoration: none;
}
*:hover{
    transition: 2s ease 0s;
}
html{
   /* Un seul règlage ici */
   font-size: 62,5%;
}
body{ /* les règlages qu'on veut sur les <p> de la page => on utilise l'héritage */
    margin: 0;
    padding: 0;
    font-size: 1.6em; /* unité relative = 16px (unité absolue) */
    line-height: 1.6; /* ici on ne met pas d'unité =la hauteur d'interligne sera relative a la font-size ici x1.6 0*/
}
a, a:hover, a:visited a:active{
    text-decoration: none;
}

                            /* on passe aux classe standardisees */

ul{
    display: flex;
    justify-content: space-evenly;
}

li{
    list-style: none;
}
li a{
    text-decoration: none;
}