<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content=>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/Normalize.css">
    <link rel="stylesheet" href="../assets/css/Base.css">
    <link rel="stylesheet" href="../assets/css/styleMain.css">
    <link rel="stylesheet" href="../assets/css/loading.css">
    <link rel="stylesheet" href="../assets/css/stylePokemonMain.css">
    <link href="https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap" rel="stylesheet">
    <title>Pikachu</title>
</head>
<body>
<header>
    <div class="loading_screen" >
        <img src="../assets/img/pokeball.gif" alt="#" class="imgLoad">
        <!-- bar de chargement-->
        <div class="back_load">
            <div class="loading"></div>
        </div>
    </div>

    <div id="stat">
        <div id="rightStat">
            <div class="statPokemon" id="humeur">Humeur</div>
            <div class="statPokemon" id="faim">Faim</div>
        </div>
        <div id="leftStat">
            <div class="statPokemon" id="sommeil">Sommeil</div>
            <div class="statPokemon" id="vie">Vie</div>
        </div>
    </div>

    <h1><a href="../index.html"><img src="../assets/img/International_Pokémon_logo.svg.png" alt=""></a></h1>

    <div class="pokemon"><img src="../assets/img/pikachu%20gif/tumblr_16713b0e3e7e5e8941022fd5989e083c_cbebd81b_250.webp" alt="" id="img"></div>



    <!--DEBUT DU MENU-->
    <div id="menu">
        <button class="menu" id="fight">combattre</button>
        <button class="menu" id="eat">manger</button>
        <button class="menu" id="sleep">dormir</button>
        <button class="menu" id="game">jouer</button>
    </div>
    <div class="clear"></div>
</header>

</body>
<!--<script src="../assets/js/loading.js"></script>-->
<script src="../assets/js"></script>
</html>



