<!DOCTYPE html>
<html lang="fr" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Megrim&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../assets/css/Normalize.css">
    <link rel="stylesheet" href="../assets/css/styleTech.css">
    <title>Document</title>
</head>
<body>
<header>
    <nav>
        <h1 class="policeSpecial">Tech News</h1>
        <ul>
            <li><a href="index.html"> A la Une</a></li>
            <li><a href="page3.html">Tech</a></li>
            <li><a href="page4.html">Science</a></li>
        </ul>
    </nav>
    <div class="clear"></div>
</header>
<main>
    <section id="intro">
        <article>
            <h2>L’un des plus gros réseaux de triche aux jeux vidéo au monde démantelé en Chine</h2>
        </article>
    </section>
    <section id="contenu">
        <article id="projetEntreprise">
            <img src="../assets/img/gaming-960x614.webp" alt="Un téléphone avec un face ID">
            <p>L’un des plus grands réseaux de triche dédiés aux jeux vidéo au monde a été démantelé en Chine, rapporte la BBC. Aidée par le géant des télécoms Tencen, la police de Kunshan (Shanghai) a interpellé 10 personnes lors de son opération coordonnée et a détruit 17 logiciels de triche. Près de 40 millions d’euros de biens ont également été saisis sur place, dont des véhicules de luxe.</p>
        </article>
        <div class="clear"></div>
        <article id="commentOnFait">
            <p>Le vaste réseau connu sous le nom de Chicken Drumstick (Pilon de poulet) proposait des abonnements à des logiciels de triche pour divers jeux vidéo multijoueurs populaires, dont PUBG, Overwatch ou encore Call of Duty Mobile. Des activités qui ne plaisaient évidemment pas à Tencent, également présent sur le marché vidéoludique (Riot Games, Epic Games, etc.).</p>
        </article>
        <article id="info"><p>Le prix des abonnements proposés variait entre 10 et 200 dollars par mois. Ils auraient rapporté plus de 76 millions de dollars aux tricheurs. La popularisation des compétitions de jeux vidéo, mais également le confinement auraient fait exploser ce type de marchés.</p>
        </article>
        <p id="lien20Minutes"><a href="https://www.20minutes.fr/high-tech/3011443-20210331-une-application-pour-en-finir-avec-les-mots-de-passe">En savoir plus</a></p>
    </section>
</main>
<article id="widjet">
    <p><a href="https://www.20minutes.fr/high-tech/3014551-20210405-des-chercheurs-de-l-ulb-ont-cree-un-robot-capable-de-marcher-sur-l-eau">ThermoBot : Des chercheurs mettent au point un mini-robot capable de marcher sur l’eau</a></p>
    <p><a href="https://www.20minutes.fr/economie/3014335-20210405-high-tech-sud-coreen-lg-electronics-renonce-smartphones">Le sud-coréen LG Electronics renonce aux smartphones</a></p>
    <p><a href="https://www.20minutes.fr/high-tech/3011423-20210331-games-with-gold-voici-les-4-jeux-offerts-sur-xbox-en-avril">Quels sont les quatre jeux offerts par Microsoft à ses abonnés en avril ?
    </a></p>
    <p><a href="">« Game of Thrones » : Bientôt une pièce de théâtre à Broadway</a></p>
    <p><a href="https://www.20minutes.fr/high-tech/3011479-20210331-game-of-thrones-va-etre-decline-en-piece-de-theatre"></a></p>
</article>
<div class="clear"></div>
<footer>
    <div id="partenares">
        <span class="policeSpecial">Nos Partenaires</span>
        <p><a href="https://www.numerama.com/">Numerama</a></p>
        <p><a href="http://www.clubic.com/">Clubic</a></p>
        <p><a href="https://www.futura-sciences.com">Futura-science</a></p>
    </div>
    <div id="end">
        <span class="policeSpecial"><a href="https://www.edenschool.fr/contact-emplois-projets-nous-soutenir/">EDEN School</a></span>
        <p>Contactez-nous</p>
    </div>
    </footer>
</body>
</html>