<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content=>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../assets/css/Normalize.css">
  <link rel="stylesheet" href="../../assets/css/Base.css">
  <link rel="stylesheet" href="style.css">

  <title>NEVER SLEEP !</title>
</head>
<body>
<header>

  <!-- The Modal -->
  <div id="myModal" class="modal">

    <!-- Modal content -->
    <div class="modal-content">
      <div class="modal-body">

      </div>
      <span class="replace">&times;</span>
    </div>
    <div class="modal-body2">
      <p>AHAHAHA</p>
      <p>Je vais te faire vivre un cauchemar</p>
      <p>Sans fin</p>
      <p>mmh finalement non tu m'intéresses pas assez</p>
      <p>clique sur la croix est part</p>
      <span class="replace">&times;</span>
    </div>
  </div>


  <button class="menu" id="talk">Parler</button>

</header>
</body>
<script src="script.js"></script>
</html>