body{
    background: url("../../assets/img/ectoplasma/dcpoymu-ce65b01c-87ad-4fce-9143-25df6343dd0e.png");
    background-size: cover;
    height: 50vh;
}
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: hidden; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

button{
    padding: 10px 50px;
    background-color: white;
    color: gray;
    margin: 12em auto;
    background-color: rgba(75,0,130,0.7);
    border: 1px solid black;
    text-transform: uppercase;
    font-size: 30px;
    color: black;
    display: block;
    cursor: pointer;
}

/* Modal Content */
.modal-content {
    color: white;
    background-color: transparent;
    margin: auto;
    padding: 0;
    width: 80%;
    animation-name: animate;
    animation-duration: 2s;
    text-align: center;
}

/* Add Animation */
@keyframes animate {
    from {opacity:0}
    to {opacity:1}
}
.modal-body {padding: 2px 16px;}

.replace{
    position: absolute;
    cursor: pointer;
}
.modal-body2{
    display: none;
}
