<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/Normalize.css">
    <link rel="stylesheet" href="../assets/css/Base.css">
    <link rel="stylesheet" href="../assets/css/style.css"> 
    <title>Document</title>
</head>
<body>
<table>
  <thead>
<th><img src="../assets/img/header.jpg" alt=""></th>
  </thead>
  <tbody>
    <tr>
      <td>De la part de Derrienic</td>
    </tr>
    <tr>
      <td>
        <img src="../assets/img/newsletter.jpg" alt="">
      </td>
    </tr>
    <tr>
      <td>
        <img src="../assets/img/derriennic-logo.png" alt="">
      </td>
    </tr>
  </tbody>
  <tfoot>
    <tr>
      <th>
        <a href="#">Lien vers cette newlettre en ligne </a>
      </th>
    </tr>
  </tfoot>
</table>
</body>
</html>