body{
    background: url("../img/michelle-hesek-giratina-wallpaper.gif");
    background-size: cover;
}
h1{
    margin-top: 20px;
}
img{
    margin: 0 50px;
}
h1 img{
    display: block;
    margin: 0 auto;
}
nav img{
    height: 200px;
    width: 200px;
    transition: height 2s, width 2s;
}
nav a :hover{
    height: 240px;
    width: 240px;
}
