body{
    background: url("../img/bgPokemon.png") no-repeat;
    background-size: cover;
    font-family: 'Permanent Marker', cursive;
    color: gray;
    box-sizing: border-box;
}
h1 img{
    height: 150px;
}
.pokemon img{
    display: block;
    margin: 0 auto 100px;
    height: 300px;
}
#menu{
    display: flex;
    justify-content: space-evenly;
}
#menu button{
    padding: 10px 50px;
    border: 1px solid gray;
    text-transform: uppercase;
    background-color: white;
    color: gray;
}
#stat .statPokemon{
    height: 250px;
    text-align: center;
    border: 1px solid gray;
    text-transform: uppercase;
    background-color: white;
    font-size: 20px;
    color: gray;
}
#rightStat{
    float: right;
}
#leftStat{
    float: left;
}
.clear{
    clear: both;
}