<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/Normalize.css">
    <link rel="stylesheet" href="../assets/css/Base.css">
    <link rel="stylesheet" href="../assets/css/style.css"> 
    <title>Document</title>
</head>
<body>
<table>
  <thead>
<tr>
  <th>
  </th>
  <th>
    02/01/2021
  </th>
  <th >
    03/01/2021
  </th>
  <th>
    05/01/2021
  </th>
  </thead>
  <tbody>
    <tr>
  <th class="haut" rowspan="2">
    Air France</th>
    <td>Départ 10h - Arrivée 13h</td>
    <td>Départ 15h - Arrivée 18h</td>
    <td>Départ 17h - Arrivée 20h</td>
    </tr>
    <tr>
      <td>200€</td>
      <td>180€</td>
      <td>170€</td>
    </tr>
<tr>
  <th class="bas" rowspan="2">
    Alitalia  
  </th>
  <td>Départ 6h - Arrivée 9h</td>
  <td>Départ 13h - Arrivée 16h</td>
  <td>Départ 21h - Arrivée 00h</td>
  </tr>
  <tr>
    <td>120€</td>
    <td>250€</td>
    <td>100€</td>
  </tr>
  </tbody>
  <tfoot>
    <th>
    </th>
    <th>
      02/01/2021
    </th>
    <th >
      03/01/2021
    </th>
    <th>
      05/01/2021
    </th>
  </tfoot>
</table>
</body>
</html>