<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/Normalize.css">
    <link rel="stylesheet" href="../assets/css/Base.css">
    <link rel="stylesheet" href="../assets/css/style.css"> 
    <title>Document</title>
</head>
<body>
<table>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td class="noir"></td>
        <td class="noir"></td>
        <td class="noir"></td>
        <td class="noir"></td>
        <td class="noir"></td>
        <td class="noir"></td>
        <td class="noir"></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td class="noir"></td>
        <td class="br"></td>
        <td class="br"></td>
        <td class="br"></td>
        <td class="br"></td>
        <td class="br"></td>
        <td class="br"></td>
        <td class="noir"></td>
        <td class="noir"></td>
        <td class="noir"></td>
        <td class="noir"></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td class="noir"></td>
        <td class="br"></td>
        <td class="br"></td>
        <td class="brl"></td>
        <td class="brl"></td>
        <td class="brl"></td>
        <td class="br"></td>
        <td class="br"></td>
        <td class="br"></td>
        <td class="br"></td>
        <td class="br"></td>
        <td class="br"></td>
        <td class="noir"></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td class="noir"></td>
        <td class="br"></td>
        <td class="brl"></td>
        <td class="brl"></td>
        <td class="brl"></td>
        <td class="brl"></td>
        <td class="br"></td>
        <td class="brl"></td>
        <td class="brl"></td>
        <td class="brl"></td>
        <td class="brl"></td>
        <td class="br"></td>
        <td class="br"></td>
        <td class="noir"></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td class="noir"></td>
        <td class="br"></td>
        <td class="br"></td>
        <td class="brl"></td>
        <td class="brl"></td>
        <td class="brl"></td>
        <td class="brl"></td>
        <td class="br"></td>
        <td class="brl"></td>
        <td class="brl"></td>
        <td class="brl"></td>
        <td class="brl"></td>
        <td class="brl"></td>
        <td class="br"></td>
        <td class="noir"></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td class="noir"></td>
        <td class="br"></td>
        <td class="brl"></td>
        <td class="brl"></td>
        <td class="brl"></td>
        <td class="brl"></td>
        <td class="brl"></td>
        <td class="br"></td>
        <td class="brl"></td>
        <td class="brl"></td>
        <td class="brl"></td>
        <td class="brl"></td>
        <td class="brl"></td>
        <td class="brl"></td>
        <td class="br"></td>
        <td class="noir"></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td class="noir"></td>
        <td class="br"></td>
        <td class="br"></td>
        <td class="brl"></td>
        <td class="brl"></td>
        <td class="brl"></td>
        <td class="brl"></td>
        <td class="br"></td>
        <td class="br"></td>
        <td class="br"></td>
        <td class="brl"></td>
        <td class="brl"></td>
        <td class="brl"></td>
        <td class="brl"></td>
        <td class="brl"></td>
        <td class="brl"></td>
        <td class="br"></td>
        <td class="noir"></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td class="noir"></td>
        <td class="noir"></td>
        <td class="br"></td>
        <td class="brl"></td>
        <td class="br"></td>
        <td class="br"></td>
        <td class="br"></td>
        <td class="bg"></td>
        <td class="bg"></td>
        <td class="br"></td>
        <td class="br"></td>
        <td class="br"></td>
        <td class="br"></td>
        <td class="br"></td>
        <td class="brl"></td>
        <td class="brl"></td>
        <td class="noir"></td>
        <td class="noir"></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td class="noir"></td>
        <td class="br"></td>
        <td class="br"></td>
        <td class="br"></td>
        <td class="bg"></td>
        <td class="br"></td>
        <td class="br"></td>
        <td class="bg"></td>
        <td class="bg"></td>
        <td class="br"></td>
        <td class="bg"></td>
        <td class="br"></td>
        <td class="br"></td>
        <td class="br"></td>
        <td class="brl"></td>
        <td class="noir"></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td class="noir"></td>
        <td class="noir"></td>
        <td class="br"></td>
        <td class="brl"></td>
        <td class="bg"></td>
        <td class="bg"></td>
        <td class="bg"></td>
        <td class="bg"></td>
        <td class="bg"></td>
        <td class="bg"></td>
        <td class="bg"></td>
        <td class="bg"></td>
        <td class="br"></td>
        <td class="br"></td>
        <td class="br"></td>
        <td class="noir"></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td class="noir"></td>
        <td class="br"></td>
        <td class="bg"></td>
        <td class="bg"></td>
        <td class="noir"></td>
        <td class="bg"></td>
        <td class="bg"></td>
        <td class="bg"></td>
        <td class="noir"></td>
        <td class="bg"></td>
        <td class="bg"></td>
        <td class="brl"></td>
        <td class="bg"></td>
        <td class="noir"></td>
        <td class="noir"></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td class="noir"></td>
        <td class="noir"></td>
        <td class="bg"></td>
        <td class="bg"></td>
        <td class="bg"></td>
        <td class="bg"></td>
        <td class="bg"></td>
        <td class="bg"></td>
        <td class="bg"></td>
        <td class="bg"></td>
        <td class="bg"></td>
        <td class="brl"></td>
        <td class="bg"></td>
        <td class="noir"></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td class="noir"></td>
        <td class="bg"></td>
        <td class="bg"></td>
        <td class="bg"></td>
        <td class="noir"></td>
        <td class="noir"></td>
        <td class="noir"></td>
        <td class="bg"></td>
        <td class="bg"></td>
        <td class="bg"></td>
        <td class="bg"></td>
        <td class="brl"></td>
        <td class="noir"></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td class="noir"></td>
        <td class="bg"></td>
        <td class="bg"></td>
        <td class="bg"></td>
        <td class="bg"></td>
        <td class="bg"></td>
        <td class="bg"></td>
        <td class="bg"></td>
        <td class="bg"></td>
        <td class="bg"></td>
        <td class="bg"></td>
        <td class="noir"></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td class="noir"></td>
        <td class="noir"></td>
        <td class="bg"></td>
        <td class="bg"></td>
        <td class="bg"></td>
        <td class="bg"></td>
        <td class="bg"></td>
        <td class="bg"></td>
        <td class="bg"></td>
        <td class="bg"></td>
        <td class="noir"></td>
        <td class="noir"></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td class="noir"></td>
        <td class="noir"></td>
        <td class="noir"></td>
        <td class="noir"></td>
        <td class="noir"></td>
        <td class="noir"></td>
        <td class="noir"></td>
        <td class="noir"></td>
        <td class="noir"></td>
        <td class="vrt"></td>
        <td class="noir"></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td class="noir"></td>
        <td class="vrt"></td>
        <td class="vrt"></td>
        <td class="vrt"></td>
        <td class="vrt"></td>
        <td class="vrt"></td>
        <td class="vrt"></td>
        <td class="vrt"></td>
        <td class="vrt"></td>
        <td class="vrt"></td>
        <td class="vrt"></td>
        <td class="vrt"></td>
        <td class="noir"></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td class="noir"></td>
        <td class="vrt"></td>
        <td class="vrt"></td>
        <td class="vrt"></td>
        <td class="vrt"></td>
        <td class="vrt"></td>
        <td class="vrt"></td>
        <td class="vrt"></td>
        <td class="vrt"></td>
        <td class="vrt"></td>
        <td class="vrt"></td>
        <td class="vrt"></td>
        <td class="vrt"></td>
        <td class="noir"></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td class="noir"></td>
        <td class="brl"></td>
        <td class="brl"></td>
        <td class="brl"></td>
        <td class="brl"></td>
        <td class="brl"></td>
        <td class="brl"></td>
        <td class="brl"></td>
        <td class="brl"></td>
        <td class="brl"></td>
        <td class="brl"></td>
        <td class="brl"></td>
        <td class="brl"></td>
        <td class="brl"></td>
        <td class="noir"></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td class="noir"></td>
        <td class="noir"></td>
        <td class="brl"></td>
        <td class="brl"></td>
        <td class="brl"></td>
        <td class="brl"></td>
        <td class="brl"></td>
        <td class="brl"></td>
        <td class="brl"></td>
        <td class="brl"></td>
        <td class="brl"></td>
        <td class="brl"></td>
        <td class="brl"></td>
        <td class="noir"></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td class="noir"></td>
        <td class="brl"></td>
        <td class="brl"></td>
        <td class="brl"></td>
        <td class="brl"></td>
        <td class="brl"></td>
        <td class="brl"></td>
        <td class="brl"></td>
        <td class="brl"></td>
        <td class="brl"></td>
        <td class="brl"></td>
        <td class="brl"></td>
        <td class="noir"></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td class="noir"></td>
        <td class="noir"></td>
        <td class="noir"></td>
        <td class="noir"></td>
        <td class="noir"></td>
        <td class="noir"></td>
        <td class="noir"></td>
        <td class="noir"></td>
        <td class="noir"></td>
        <td class="noir"></td>
        <td class="noir"></td>
        <td class="noir"></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td class="noir"></td>
        <td class="brl"></td>
        <td class="brl"></td>
        <td class="noir"></td>
        <td class=""></td>
        <td class=""></td>
        <td class="noir"></td>
        <td class="brl"></td>
        <td class="brl"></td>
        <td class="noir"></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td class="noir"></td>
        <td class="noir"></td>
        <td class="noir"></td>
        <td class="noir"></td>
        <td class=""></td>
        <td class=""></td>
        <td class="noir"></td>
        <td class="noir"></td>
        <td class="noir"></td>
        <td class="noir"></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
</table>
</body>
</html>