<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../assets/css/normalize.css">
    <link rel="stylesheet" href="../assets/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Megrim&display=swap" rel="stylesheet">
</head>
<body>
<header>
    <h1>tech news</h1>
    <nav>
        <ul>
            <li class="navup"><a href="../index.html">A la une</a></li>
            <li class="navup you"><a href="#">Tech</a></li>
            <li class="navup"><a href="science.html">Science</a></li>
        </ul>
    </nav>
    <div class="clear"></div>
</header>
<main>
    <!--la partie gauche de l'acceuil -->
    <article class="leftpart">
        <div class="center">
            <h2>L’un des plus gros réseaux de triche aux jeux vidéo au monde démantelé en Chine</h2>
            <img src="../assets/img/gaming-960x614.webp" alt="une image de pubg" class="illu">
            <p class="desc1">L’un des plus grands réseaux de triche dédiés aux jeux vidéo au monde a été démantelé en Chine, rapporte la BBC. Aidée par le géant des télécoms Tencen, la police de Kunshan (Shanghai) a interpellé 10 personnes lors de son opération coordonnée et a détruit 17 logiciels de triche. Près de 40 millions d’euros de biens ont également été saisis sur place, dont des véhicules de luxe.
            </p>
            <div class="clear"></div>
            <p class="text">Le vaste réseau connu sous le nom de Chicken Drumstick (Pilon de poulet) proposait des abonnements à des logiciels de triche pour divers jeux vidéo multijoueurs populaires, dont PUBG, Overwatch ou encore Call of Duty Mobile. Des activités qui ne plaisaient évidemment pas à Tencent, également présent sur le marché vidéoludique (Riot Games, Epic Games, etc.).
            </p>
            <p class="text">Le prix des abonnements proposés variait entre 10 et 200 dollars par mois. Ils auraient rapporté plus de 76 millions de dollars aux tricheurs. La popularisation des compétitions de jeux vidéo, mais également le confinement auraient fait exploser ce type de marchés.
            </p>
            <p class="plus"><a href="https://www.20minutes.fr/high-tech/3014511-20210405-la-chine-demantele-un-vaste-reseau-de-triche-aux-jeux-video">En savoir plus</a></p>
        </div>
        <div class="clear"></div>

    </article>
    <!--la partie droite de l'acceuil-->
    <article class="rightpart">
        <div class="widgnet">
            <p class="articleprop"><a
                    href="https://www.20minutes.fr/high-tech/3014551-20210405-des-chercheurs-de-l-ulb-ont-cree-un-robot-capable-de-marcher-sur-l-eau">ThermoBot
                : Des chercheurs mettent au point un mini-robot capable de marcher sur l’eau</a></p>
            <p class="articleprop"><a
                    href="https://www.20minutes.fr/economie/3014335-20210405-high-tech-sud-coreen-lg-electronics-renonce-smartphones">Le
                sud-coréen LG Electronics renonce aux smartphones</a></p>
            <p class="articleprop"><a
                    href="https://www.20minutes.fr/high-tech/3011423-20210331-games-with-gold-voici-les-4-jeux-offerts-sur-xbox-en-avril">Quels
                sont les quatre jeux offerts par Microsoft à ses abonnés en avril ?</a></p>
            <p class="articleprop"><a href="https://www.20minutes.fr/high-tech/3011479-20210331-game-of-thrones-va-etre-decline-en-piece-de-theatre">« Game of Thrones » : Bientôt une pièce de théâtre à Broadway</a></p>
        </div>
    </article>
    <div class="clear"></div>
</main>
<footer>
    <div class="clear"></div>
    <div class="partenaire">
        <h3>Nos Partenaires</h3>
        <p class="partenairelien"><a href="https://www.numerama.com/">Numerama</a></p>
        <div class="clear"></div>
        <p class="partenairelien"><a href="http://www.clubic.com/">Clubic</a></p>
        <div class="clear"></div>
        <p class="partenairelien"><a href="https://www.futura-sciences.com">Futura-science</a></p>
    </div>
    <div class="eden"><h4>EDEN School</h4>
        <p class="contact"><a href="https://www.edenschool.fr/contact-emplois-projets-nous-soutenir/">Contacter-nous</a></p>
    </div>
    <div class="clear"></div>
</footer>
</body>
</html>