<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../assets/css/normalize.css">
    <link rel="stylesheet" href="../assets/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Megrim&display=swap" rel="stylesheet">
</head>
<body>
<header>
    <h1>tech news</h1>
    <nav>
        <ul>
            <li class="navup"><a href="../index.html">A la une</a></li>
            <li class="navup"><a href="gaming.html">Tech</a></li>
            <li class="navup you"><a href="#">Science</a></li>
        </ul>
    </nav>
    <div class="clear"></div>
</header>
<main>
    <!--la partie gauche de l'acceuil -->
    <article class="leftpart">
        <div class="center">
            <h2>Facebook : Tout comprendre à la fuite de données qui concerne 533 millions d’utilisateurs</h2>
            <img src="../assets/img/facebook-960x614.webp" alt="une main tenant un telephone" class="illu">
            <p class="desc1">Les données personnelles concernant plus de 500 millions d’utilisateurs Facebook, issues d’une faille de sécurité remontant à 2019, ont été mises en ligne ce week-end sur un forum de hackers.
            </p>
            <div class="clear"></div>
            <p class="text">La France est l’un des pays comptant le plus de victimes, avec 20 millions d’utilisateurs touchés sur 40 millions d’abonnés Facebook dans l’Hexagone, soit un utilisateur sur deux.
            </p>
            <p class="text">« Il ne serait pas étonnant que des pirates exploitent les données obtenues pour mener des campagnes de phishing ciblées [...]. Il est aussi probable que les cybercriminels utilisent ces informations pour se faire passer pour la personne piratée », explique Dimitry Galov, expert en sécurité chez Kaspersky.
            </p>
            <p class="plus"><a href="https://www.20minutes.fr/high-tech/3015963-20210407-facebook-tout-comprendre-fuite-donnees-concerne-533-millions-utilisateurs">En savoir plus</a></p>
        </div>
        <div class="clear"></div>

    </article>
    <!--la partie droite de l'acceuil-->
    <article class="rightpart">
        <div class="widgnet">
            <p class="articleprop"><a
                    href="https://www.20minutes.fr/high-tech/3014551-20210405-des-chercheurs-de-l-ulb-ont-cree-un-robot-capable-de-marcher-sur-l-eau">ThermoBot
                : Des chercheurs mettent au point un mini-robot capable de marcher sur l’eau</a></p>
            <p class="articleprop"><a
                    href="https://www.20minutes.fr/economie/3014335-20210405-high-tech-sud-coreen-lg-electronics-renonce-smartphones">Le
                sud-coréen LG Electronics renonce aux smartphones</a></p>
            <p class="articleprop"><a
                    href="https://www.20minutes.fr/high-tech/3011423-20210331-games-with-gold-voici-les-4-jeux-offerts-sur-xbox-en-avril">Quels
                sont les quatre jeux offerts par Microsoft à ses abonnés en avril ?</a></p>
            <p class="articleprop"><a href="https://www.20minutes.fr/high-tech/3011479-20210331-game-of-thrones-va-etre-decline-en-piece-de-theatre">« Game of Thrones » : Bientôt une pièce de théâtre à Broadway</a></p>
        </div>
    </article>
    <div class="clear"></div>
</main>
<footer>
    <div class="clear"></div>
    <div class="partenaire">
        <h3>Nos Partenaires</h3>
        <p class="partenairelien"><a href="https://www.numerama.com/">Numerama</a></p>
        <div class="clear"></div>
        <p class="partenairelien"><a href="http://www.clubic.com/">Clubic</a></p>
        <div class="clear"></div>
        <p class="partenairelien"><a href="https://www.futura-sciences.com">Futura-science</a></p>
    </div>
    <div class="eden"><h4>EDEN School</h4>
        <p class="contact"><a href="https://www.edenschool.fr/contact-emplois-projets-nous-soutenir/">Contacter-nous</a></p>
    </div>
    <div class="clear"></div>
</footer>
</body>
</html>