#zone1{
    background-color: yellow;
    text-align: center;
    height: 100px;
    float: none;
}
#zone2{
    background-color: yellowgreen;
    float: left;
    width: 200px;
    height: 100em;
    text-align: center;
}
#zone3{
    background-color: teal;
    float: none;
    height: 100em;
    text-align: center;
}