body{
    background-image: url(../img/background.png);
}
.blue{
    color: turquoise;
}
header{
    color: white;
    background-color: turquoise;
}
h1{
    display: inline;
}
nav{
    float: right;
}
a:first-of-type{
    background-color: black;
}
a{
    text-decoration: none;
    color: white;
}

h2{
    text-align: center;
    background-image: url(../img/rainbow.png);
    background-position: center;
    background-repeat:no-repeat;
    height: 200px;
}
main{
    margin: 0 20% 20%;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    background-color: white;
    padding: 20px;
    border-radius: 27px 
}
