@charset "UTF-8";
.clear {
  clear: both;
}

h3 {
  color: hsl(178deg, 42%, 64%);
}

h2 {
  width: 100%;
  text-transform: uppercase;
}

body {
  font-family: "Poppins:ital,wght@1,300", sans-serif;
}
body section {
  margin: 5rem 7rem;
}
body section div {
  margin: 5rem 0;
}

header {
  background: url(../img/bandeau.jpg) no-repeat fixed;
  background-size: 100%;
  padding-top: 50px;
  padding-bottom: 17%;
  text-align: center;
}
header ul {
  text-align: center;
  font-size: 5rem;
  color: white;
  padding-top: 150px;
}
header h1 {
  text-align: center;
  font-size: 5rem;
  color: white;
  padding-top: 100px;
  margin: 0;
}
header h2 {
  color: white;
  font-size: 25px;
  font-weight: lighter;
  margin: 0;
}
header h3 {
  text-align: center;
  font-size: 2rem;
  color: white;
}
header img {
  width: 7%;
}

nav {
  width: 100%;
  padding: 0;
  margin: 0;
}
nav ul {
  justify-content: center;
}
nav li {
  font-size: 1.2rem;
  text-decoration: none;
  display: block;
  padding: 18px 16px;
  text-transform: uppercase;
  color: black;
  text-align: center;
  margin: 0 2%;
}
nav li:first-of-type {
  color: hsl(178deg, 42%, 64%);
}

#Presentation {
  display: flex;
  justify-content: space-between;
}
#Presentation #moi {
  width: 73%;
}
#Presentation h2 {
  width: 2%;
}
#Presentation p {
  width: 40%;
}
#Presentation #photo_vide {
  padding: 5%;
  background-color: hsl(0deg, 0%, 50%);
  color: white;
  text-align: center;
  width: 27%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#Citation {
  background-color: hsl(178deg, 42%, 64%);
  color: white;
  text-align: center;
  padding: 4%;
}

#valeur {
  margin: 0 7rem;
  text-align: center;
}

#Mes_Travaux {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
#Mes_Travaux h2 {
  width: 100%;
}
#Mes_Travaux div {
  margin: 1%;
  background-color: hsl(0deg, 0%, 50%);
  color: white;
  padding: 5%;
}
#Mes_Travaux .case {
  width: 45%;
}
#Mes_Travaux #Exemple {
  background-color: hsl(178deg, 42%, 64%);
}
#Mes_Travaux #projet {
  background: url("../img/Capture d’écran 2022-06-27 143438.png") no-repeat;
  background-size: cover;
}
#Mes_Travaux #projet2 {
  background: url("../img/Capture d’écran 2022-06-27 143601.png") no-repeat;
  background-size: cover;
}
#Mes_Travaux #projet3 {
  background: url("../img/Capture d’écran 2022-06-27 144724.png") no-repeat;
  background-size: cover;
}

#Mon_Parcours .bolt {
  font-weight: bold;
}
#Mon_Parcours .grey {
  color: hsl(0deg, 0%, 50%);
}

#Mes_Interet {
  background-color: rgba(224, 219, 219, 0.4);
  text-align: center;
  padding: 5rem;
}
#Mes_Interet h2 {
  text-transform: uppercase;
}
#Mes_Interet #interet {
  display: flex;
  justify-content: space-evenly;
}
#Mes_Interet .lorem {
  text-align: start;
}
#Mes_Interet .interet {
  background-color: white;
  border: rgba(128, 128, 128, 0.2) solid 1px;
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 30px;
  color: hsl(178deg, 42%, 64%);
}
#Mes_Interet article {
  width: 40%;
  display: flex;
}

#Pourquoi_eden span {
  color: hsl(178deg, 42%, 64%);
}

/*# sourceMappingURL=style.css.map */
