<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/Normalize.css">
    <link rel="stylesheet" href="../assets/css/Base.css">
    <link rel="stylesheet" href="../assets/css/style.css">
    <title>Document</title>
</head>

<body>
<header>
    <div id="logo">
        <img src="../assets/img/logo (2).png" alt="">
        <p>Lorem, ipsum dolor <span>sit amet</span></p>
    </div>
    <div id="linear-gradient"></div>

    <div id="client">
        <ul>
            <li><img src="../assets/img/icon-mon-compte.png" alt=""> Mon compte</li>
            <li><img src="../assets/img/icon-mon-panier.png" alt=""> Votre panier est vide</li>
        </ul>
        <p>Bonjour Jonas</p>
    </div>

    <div class="clear"></div>

    <div id="nav">
        <div class = "border2"><p>i</p></div>
        <p>Déconnexion</p>
        <div class = "border"><p>i</p></div>
        <p>Parrainage</p>
        <div class = "border"><p>i</p> </div>
        <p>Contacter-Nous</p>
        <div class = "border"><p>i</p><div>
        </div>
        </div>
    </div>
</header>

<main>
    <img src="../assets/img/header-page-catalogue.png" alt="">
    <div id="produit">

        <div class="clear"></div>

        <article class="affproduit" id="produit1"><img src="../assets/img/gant-boxe-1.png" alt="">
            <p>MTS DE BOXE COMABT KLIMAX V3</p>
            <span>- 60%</span>
            <div class="voir">Voir la vente</div>
            <div class="prix">120 €</div>
            <div class="prix2">65 €</div>
            <div class="clear"></div>
            <div class="linear-gradient"></div>
        </article>

        <article class="affproduit" id="produit2"><img src="../assets/img/gant-boxe-2.png" alt="">
            <p>MTS DE BOXE COMABT KLIMAX V3</p>
            <span>- 45%</span>
            <div class="voir">Voir la vente</div>
            <div class="prix">120 €</div>
            <div class="prix2">65 €</div>
            <div class="clear"></div>
            <div class="linear-gradient"></div>
        </article>

        <div class="clear"></div>

        <article class="affproduit" id="produit3"><img src="../assets/img/gant-boxe-1.png" alt="">
            <p>MTS DE BOXE COMABT KLIMAX V3</p>
            <span>- 70%</span>
            <div class="voir">Voir la vente</div>
            <div class="prix">120 €</div>
            <div class="prix2">65 €</div>
            <div class="clear"></div>
            <div class="linear-gradient"></div>
        </article>

        <article class="affproduit" id="produit4"><img src="../assets/img/gant-boxe-2.png" alt="">
            <p>MTS DE BOXE COMABT KLIMAX V3</p>
            <span>- 30%</span>
            <div class="voir">Voir la vente</div>
            <div class="prix">120 €</div>
            <div class="prix2">65 €</div>
            <div class="clear"></div>
            <div class="linear-gradient"></div>
        </article>
    </div>
</main>
</body>

<footer>
    <div id="barre" class="replace"></div>
    <nav class="replace">
        <ul>
            <li>Qui sommes-nous</li>
            <li>Contact</li>
            <li>Assistance</li>
            <li>CGV</li>
        </ul>
    </nav>
    <div id="info">
        <div>
            <img src="../assets/img/icon-livre.png" alt="">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci animi, corporis dicta dignissimos dolorem</p>
        </div>
        <div>
            <img src="../assets/img/icon-camion.png" alt="">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci animi, corporis dicta dignissimos dolorem</p>
        </div>
        <div>
            <img src="../assets/img/icon-cadenat.png" alt="">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci animi, corporis dicta dignissimos dolorem</p>
        </div>
        <div>
            <img src="../assets/img/icon-pouce.png" alt="">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci animi, corporis dicta dignissimos dolorem</p>
        </div>
    </div>
    <div id="lg"></div>
    <div id="reseaux">
        <img src="../assets/img/icon-facebook.png" alt="">
        <img src="../assets/img/icon-twitter.png" alt="">
        <img src="../assets/img/icon-linkedin.png" alt="">
    </div>
    <small>&copy; 2015 sport privilege. Tout droits réserver</small>
</footer>
</html>