<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/Normalize.css">
    <link rel="stylesheet" href="../assets/css/Base.css">
    <link rel="stylesheet" href="../assets/css/style.css">
    <script src="https://kit.fontawesome.com/f09ae54942.js" crossorigin="anonymous"></script>
    <title>Document</title>
</head>
<header>
    <div id="titre">
        <img src="../assets/img/logo%20(3).png" alt="">
        <h1>Ma Boutique</h1>
        <p>Vente en ligne : Mode, Tendance et déco</p>
    </div>
    <div id="aide">
        <p>Besoin d'aide ?</p>
        <div class="clear"></div>
        <img src="../assets/img/aide.png" alt="">
        <span>0800 10 28 10</span>
        <div class="clear"></div>
        <i>Du Lundi au Vendredi de 10h à 17h30</i>
    </div>
    <div id="panier">
        <p>Mon compte</p>
        <hr>
        <div id="A-C">
            <img src="../assets/img/article.png" alt="">
            <p>Article(s) dans votre panier</p>
        </div>

    </div>
    <div class="clear"></div>
    <nav>
        <ul>
            <li><span>Accueil</span></li>
            <li>Vêtements</li>
            <li>Maison</li>
            <li>Technologie</li>
            <li>Bijoux</li>
            <li>Idées Cadeaux</li>
        </ul>
    </nav>
</header>

<body>
<div id="imagep">
    <img src="../assets/img/azzaro-pub.jpg" alt="">
    <h1>Azzaro</h1>
    <div class="clear"></div>
</div>
<div class="info">


    <div id="paiement">
        <p class="blue">Paiement Sécurisé</p>
        <p>Réglez vos achats en toute sérénité sur maboutique.com</p>
        <img src="../assets/img/paiement.png" alt="">
        <div class="separation"></div>
    </div>
</div>
</body>
</html>