body{
    width: 40%;
    margin: 0 auto;
    background-color: darkcyan;
}
header{
    color: gray;
    background-color: rgba(0,0,0,0.8);
    text-transform: uppercase;
}
header p{
    padding: 30px;
    margin: 0;
}
form{
    background-color: white;
    height: 350px;
}
#id input{
    width: 740px;
    border: solid white;
    border-bottom: solid black 1px;

}

#rmb{
    float: right;
    display: block;
    margin-top: 20px;
}
#loging{
    text-transform: uppercase;
    background-color: turquoise;
    padding: 20px;
    display: block;
    margin: 0 auto;
    color: white;
    width: 500px;
    margin-top: 20px;
}

.clear{
    clear: both;
}