<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/Normalize.css">
    <link rel="stylesheet" href="../assets/css/Base.css">
    <link rel="stylesheet" href="../assets/css/style.css">
    <title>Document</title>
</head>
<body>
<header>
    <p>loging to your account</p>
</header>
<form action="">
    <div id="id">
        <label for=""></label>
        <input type="text" placeholder="First Name" name="name">
        <br>
        <label for=""></label>
        <input type="text" placeholder="Last Name" name="name">
        <br>
        <label for=""></label>
        <input type="email" placeholder="Email" name="name">
        <br>
        <label for=""></label>
        <input type="text" placeholder="Website" name="name">
        <br>
    </div>
    <div id="rmb">
        <label for=""></label>
        <input type="checkbox" name="remember"> Remember me
    </div>
        <div class="clear"></div>
    <input type="submit" id="loging" name="inscription" value="login">
</form>
</body>
</html>