<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/Normalize.css">
    <link rel="stylesheet" href="../assets/css/Base.css">
    <link rel="stylesheet" href="../assets/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Gluten:wght@200&family=Rubik+Beastly&display=swap" rel="stylesheet">
    <title>Document</title>
</head>
<body>
   <header>
       <img src="../assets/img/logo (1).png" alt="">
       <h1>Zaag</h1>
        <h2>L'âne qui tourne en rond... autourde la planète !</h2>
        <nav>

           <h3> Accueil </h3>

           <h3> Destinations </h3>

           <h3> Ressources </h3> 

           <h3> Contact </h3>

<img src="../assets/img/separateur.png" alt="">
        </nav>
    </header>
<main>
<div id="image">
    <p>Périgrinations aux Etats-Unis</p>
</div>
<div id="Voir">
    <span> Voir L'article </span>
    <div class="clear"></div>
</div>
<div id="titre2">
    <h2>je tourne en rond autour de la planète</h2>
</div>
<div id="lorem">
   <h3> Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus in obcaecati amet optio quos illo cupiditate soluta maiores laudantium perferendis eligendi incidunt, quibusdam perspiciatis vitae, voluptate mollitia quis architecto consectetur!
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore maxime libero consectetur quae vel, doloremque nostrum ex et? Excepturi totam, est consectetur ab veritatis repellat rem id recusandae dolor omnis. 
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Reprehenderit dolor maiores vel. Eos saepe quas perferendis dicta deserunt facere. Nihil veritatis porro, mollitia quis praesentium laborum quasi reprehenderit libero nostrum?</h3>
</div>
<div id="Apropos">
    <h2>à propos de l'auteur</h2>
    <img src="../assets/img/ane.jpg" alt="">
    <div class="clear"></div>
    <h3>Laisse-moi le temps de me présenter : je m'appelle Zaag, je suis né le 8 août 2008.
        J'adore tourner en rond et en bourrique... alors je tourne autour de la jolie planète bleue pour visiter ses richesses et je les partage avec vous.</h3>
        <ul>
            <li><img src="../assets/img/facebook.png" alt=""></li>
            <li><img src="../assets/img/twitter.png" alt=""></li>
            <li><img src="../assets/img/vimeo.png" alt=""></li>
            <li><img src="../assets/img/flickr.png" alt=""></li>
            <li><img src="../assets/img/rss.png" alt=""></li>
        </ul>
</div>
<div id="separ">
<img src="../assets/img/separateur.png" alt="">
</div>
<div id="end">
    <div id="return">
       <a href="#"> <img src="../assets/img/ico_top.png" alt=""></a>
</div>
    <div id="tweet">
    <h2>Mon dernier tweet</h2>
    <h3>Hiii haaaan</h3>
    <h3>le 5 décembre à 03h03</h3>
</div>
    <div id="photo">
            <h2>Mes photos</h2>
        <ul>
            <li><img src="../assets/img/photo1.jpg" alt=""></li>
            <li><img src="../assets/img/photo2.jpg" alt=""></li>
            <li><img src="../assets/img/photo3.jpg" alt=""></li>
            <li><img src="../assets/img/photo4.jpg" alt=""></li>
        </ul>
    </div>
    <div id="amis">
        <h2>Mes amis</h2>
    <ul>
            <li>Coco le coq</li>
            <li>Mme CowGirl</li>
            <li>La p'tit Bécasse</li>
            <li>Le BG du 28</li>
            </ul>
            <ul id="liste2">
            <li>Fanfan l'enfant</li>
            <li>Le p'tit burger</li>
            <li>Mangaka</li>
            <li>Fifi le filou</li>
    </ul>
    </div>
    <div class="clear"></div>
    </div>
</main>
<footer>
    &copy;TDR - ZAAG - 2021
</footer>
</body>
</html>