.loading_screen{
    width: 100%;
    height: 100%;
}
.imgLoad{
    width: 100%;
    height: 100%;
    margin: 0;
    position: fixed;
    display: none;
}
.loading {
    animation: 5s;
    border: transparent;
    background-color: burlywood;
    width: 0;
    height: 25px;
    animation-name: loading;
    display: none;
}
.back_load {
    background-color: white;
    width: 50%;
    left: 25%;
    position: absolute;
    height: 25px;
    top: 90%;
    border-radius: 20px;
    display: none;
}
@keyframes loading {
    from {
        margin-left: 0;
    }
    to {
        width: 100%;
        margin-right: 100%;
    }
}
