<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content=>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/loading.css">
    <link rel="stylesheet" href="../assets/css/Normalize.css">
    <link rel="stylesheet" href="../assets/css/Base.css">
    <link rel="stylesheet" href="../assets/css/styleMain.css">
    <link rel="stylesheet" href="../assets/css/stylePokemonMain.css">
    <link rel="stylesheet" href="../assets/css/gengar.css">
    <title>Ectoplasma</title>
</head>

<body>

<header>
    <div class="sombre"></div>
    <div class="loading_screen" >
        <img src="../assets/img/ectoplasma/image_processing20191106-6772-t0ia57.gif" alt="#" class="imgLoad">
        <!-- bar de chargement-->
        <div class="back_load">
            <div class="loading"></div>
        </div>
    </div>


    <div id="stat">
        <div id="rightStat">
            <div class="statPokemon" id="humeur">Humeur</div>
        </div>
        <div id="leftStat">
            <div class="statPokemon" id="vie">santé</div>
        </div>
    </div>

    <h1><a href="../index.html"><img src="../assets/img/International_Pokémon_logo.svg.png" alt=""></a></h1>

    <div class="pokemon"><img src="../assets/img/ectoplama.gif" alt="" id="img"></div>



    <!--DEBUT DU MENU-->
    <div id="menu">
        <button class="menu" id="fight">combattre</button>
        <button class="menu" id="play">jouer</button>
        <button class="menu" id="sleep">dormir</button>
    </div>

</header>
<div class="clear"></div>

</body>
<script src="../assets/js/loading.js"></script>
<script src="../assets/js/gengar.js"></script>
<script src="../assets/js/scriptMainPokemon.js"></script>

</html>



