<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/Normalize.css">
    <link rel="stylesheet" href="../assets/css/Base.css">
    <link rel="stylesheet" href="../assets/css/style.css"> 
    <title>Document</title>
</head>
<body>
<table>
    <td class="space"></td>
    <tr></tr>
    <th class="optn">Appels</th>
    <tr></tr>
    <th class="optn">SMS</th>
    <tr></tr>
    <th class="optn">Internet</th>
    <tr></tr>
    <th class="optn">Iternational</th>
    <tr></tr>
    <th class="optn">Tarif</th>
</table>

<table class="hv">
<th class="Grd">Premium</th>
<tr></tr>
<td>Illimités</td>
<tr></tr>
<td>Illimités</td>
<tr></tr>
<td>50 Go /mois</td>
<tr></tr>
<td>Inclus</td>
<tr></tr>
<td>80€ /mois</td>
</table>

<table class="hv">
    <th class="Grd">Gold</th>
    <tr></tr>
    <td>6heures /mois</td>
    <tr></tr>
    <td>100 /mois</td>
    <tr></tr>
    <td>20 Go /mois</td>
    <tr></tr>
    <td>3€ /appel</td>
    <tr></tr>
    <td>60€ /mois</td>
</table>
<table class="hv">
    <th class="Grd">Silver</th>  
    <tr></tr>
    <td>2 heures /mois</td>
    <tr></tr>
    <td>50 /mois</td>
    <tr></tr>
    <td>5 Go /mois</td>
    <tr></tr>
    <td>1€ /minute</td>
    <tr></tr>
    <td>30€ /mois</td>
</table>
</body>
</html>