<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="../assets/css/Normalize.css">
    <link rel="stylesheet" href="../assets/css/Base.css">
    <link rel="stylesheet" href="../assets/css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/0f4017ecea.js" crossorigin="anonymous"></script>
    <title></title>
</head>
<body>
<header>
    <nav>
        <ul>
            <li><a href="#">l'exposition</a></li>
            <li><a href="#">info pratiques</a></li>
            <li><a href="#">faq</a></li>
            <li><a href="#">avis</a></li>
            <li><a href="#">presse</a></li>
            <li><a href="#"></a>fr</li>
            <li><a href="#"></a>en</li>
            <li><button>billetterie</button></li>
        </ul>
    </nav>
    <h2>vous ne les verrez jamais d'aussi près</h2>
    <!--logo-->
    <h1>l'exposition</h1>
    <hr>
    <p>à la cité du cinéma paris / saint-denis jusqu'au 2 septembre 2018</p>
</header>


<main>
    <section id="presentation">
        <h3>regardez un dinisaure droit dans les yeux !</h3>
        <!--img-->
        <article id="expo">
            <p>Jurassic World / L'Exposition prolonge l'expérience des spectateurs en associant des environnements immersifs à des éléments éducatifs et scientifiques interactifs.</p>

            <p>Inspiré de l'un des plus grands blockbusters de l'histoire du cinéma, cet événement plonge petits et grands dans les scènes inspirées du célèbre film. Ici, le parc imaginaire prend vie... juste sous vos yeux</p>

            <p>Découvrez Isla Nubar en classe VIP et explorez Jurassic World. Écarquillez vos yeux devant l'imposant Brachiosaure; discutez nez à nez avec un Vélociraptor et approchez-vous du plus mauvais de tous, le terrible Tyrannosaure rex.</p>

            <p>Créée en étroite collaboration avec un paléontologue renommé, Jack Horner, l'exposition est riche en contenus interactifs et éducatifs issus de recherches scientifiques sur l'ADN des dinosaures, autant de découvertes qui ont permis à Jurassic World de prendre vie. Quel que soit votre àge, ces créatures préhistoriques incroyables n'auront plus aucun secret pour vous.</p>
        </article>

        <article id="infoComplementaire">
            <aside>Jurassic World: Un voyage à couper le souffle !</aside>
            <aside>du 14 Avril au 2 septembre 2018</aside>
            <aside>à la Cité du Cinéma</aside>
            <aside>Paris / Saint-Denis</aside>
        </article>
        <article id="reservation">
            <p>Réservez vos places dés aujourd'hui,</p>
            <p>et souvenez vous... si quelque chose vous poursuit, <span>courez !</span></p>
            <button>reserver</button>
        </article>
    </section>

    <section id="tarif">
        <!--fontawesome--> <h3>tarifs</h3>
        <article id="prix">
            <p>Adulte : <span>19.90 €</span></p>
            <p>Enfant (- de 11 ans) : <span>15.90 €</span></p>
            <p>Famille (2 adultes + 2 enfants) : <span>64.90 €</span></p>
            <p>Audioguide : <span>5 €</span></p>
        </article>
        <article id="achat">
            <p>Possibilité de réserver un billet coupe file prioritaire par tranches horaire de 30 minutes</p>
            <button>acheter en ligne</button>
        </article>
    </section>
    <hr>
    <section id="horaires">
        <!--fontawesome--> <h3>horaires</h3>
        <article>
            <p>Tous les jours 7j/7</p>
            <span>10h00 - 19h00</span>
            <p>Dernière entrée: 18h00</p>
        </article>
    </section>

    <section id="trajet">
        <!--fontawesome--> <h3>comment venir ?</h3>
        <article id="adresse">
            <span>Cité du cinéma</span>
            <p>20 Rue Ampère</p>
            <p>93200 Saint-Denis</p>
        </article>
        <article id="itinéraire ">
            <span>En Métro : </span><!--logo metro + ligne 13--> <p>(Carrefour Pleyel)</p>
            <span>En Bus : </span> <p>Ligne 139 (arrêt rue Ampère)</p>
            <span>En Voiture : </span> <p>via l'autoroute A1 (sortis 2 vers Saint-Denis/La Plaine/Saint-Denis-Center) ou via l'autoroute A86 (sortie 8e vers Saint Ouen/Paris-Porte de Clignancourt/Saint-Denis-Pleyel)</p>
        </article>


        <article id="map">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d10486.483163736846!2d2.3277771431990004!3d48.922616668699916!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47e66edb70296807%3A0x50acf55cb97f254b!2zQ2l0w6kgZHUgQ2luw6ltYQ!5e0!3m2!1sfr!2sfr!4v1647357121655!5m2!1sfr!2sfr" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
        </article>
    </section>



</main>


<footer>

</footer>


</body>
</html>
