<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/Normalize.css">
    <link rel="stylesheet" href="../assets/css/Base.css">
    <link rel="stylesheet" href="../assets/css/style.css"> 
    <title>Document</title>
</head>
<body>
  <header>
    <img src="../assets/img/position.PNG" alt="">
    <h1>10 CONSEILS POUR OPTIMISER VOTRE <span>RÉFÉRENCEMENT SEO</span></h1>
  </header>
<table>
  
  <tr>
<td rowspan="2">
  <img src="../assets/img/pc.PNG" alt="">
</td>
 <td> <span>ADOPTER LE RESPONSIVE DESIGN</td>
</tr>
<tr>
  <td>Développper un site web qui va s'adapter à l'appareil avec lequel l'internaute se connecte.</td>
</tr>


<td rowspan="2">
  <img src="../assets/img/temps.PNG" alt="">
</td>
 <td><span>RÉDUIRE LE TEMPS DE CHARGEMENT DU SITE </span> </td>
</tr>
<tr>
  <td>Les internautes ne veulent pas attendre pour accéder à une information ou un contenu.</td>
</tr>


<td rowspan="2">
  <img src="../assets/img/options.PNG" alt="">
</td>
 <td> <span>OPTIMISER VOS BALISES ET MÉTADONNÉES </span></td>
</tr>
<tr>
  <td>Structurer vos contenus web et susciter l'envie de cliquer sur votre site dans les SERP.
  </td>
</tr>


<td rowspan="2">
  <img src="../assets/img/research.PNG" alt="">
</td>
 <td> <span>DÉFINIR UNE STRATÉGIE "MOTS-CLÉS </span></td>
</tr>
<tr>
  <td>Lister les requêtes Google que les internautes pourraient faire pour vous trouver.</td>
</tr>


<td rowspan="2">
  <img src="../assets/img/quali.PNG" alt="">
</td>
 <td> <span>CRÉER DU CONTENU QUALITATIF </span></td>
</tr>
<tr>
  <td>Attirer toujours plus d'internautes et convertir des internautes en clients.</td>
</tr>


<td rowspan="2">
  <img src="../assets/img/refer.PNG" alt="">
</td>
 <td> <span>OPTIMISER LE RÉFÉRENCEMENT DU CONTENU </span></td>
</tr>
<tr>
  <td>Suivre les critères et les normes pour satisfaire les robots qui crawlent votre site..</td>
</tr>


<td rowspan="2">
  <img src="../assets/img/dupli.PNG" alt="">
</td>
 <td> <span>EVITER LE DUPLICATE CONTENT </span></td>
</tr>
<tr>
  <td>Créer du contenu nouveau: c'est enrichir votre site et le web</td>
</tr>


<td rowspan="2">
  <img src="../assets/img/netlink.PNG" alt="">
</td>
 <td> <span>RÉER UN NETLINKING PERFORMANT </span></td>
</tr>
<tr>
  <td>Intégrer votre site web dans la Toile pour faciliter la navigation globale sur le web.
  </td>
</tr>


<td rowspan="2">
  <img src="../assets/img/reseaux.PNG" alt="">
</td>
 <td> <span> ETRE PRÉSENT SUR LES RÉSEAUX SOCIAUX </span></td>
</tr>
<tr>
  <td>Animer des communautés et s'en servir de relais pour votre communication.</td>
</tr>

<td rowspan="2">
  <img src="../assets/img/google.PNG" alt="">
</td>
 <td> <span>UTILISER LES OUTILS GOOGLE </span></td>
</tr>
<tr>
  <td>Paramétrer et analyser les données statistiques fournies par Google.</td>
</tr>
</table>
</body>
</html>