<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/Normalize.css">
    <link rel="stylesheet" href="../assets/css/Base.css">
    <link rel="stylesheet" href="../assets/css/style.css">
    <script src="https://kit.fontawesome.com/0f4017ecea.js" crossorigin="anonymous"></script>
    <title>Document</title>
</head>
<body>
<h1>Sleepy kitten</h1>
<div id="encadrement">
    <div class="info">
        <i class="fas fa-map-marker-alt"></i>
        <p><span>Address:</span> 198 West 21th Street Suite 721 New York NY 10016</p>
    </div>
    <div class="info">
        <i class="fas fa-phone-alt"></i>
        <p><span>Phone:</span> <span class="truk">+ 1235 2355 98</span> </p>
    </div>
    <div class="info">
        <i class="fab fa-telegram-plane"></i>
        <p><span>Email:</span> <span class="truk">info@yoursite</span></p>
    </div>
    <div class="info">
        <i class="fas fa-globe-americas"></i>
        <p><span>Website:</span> <span class="truk">yoursite.com</span></p>
    </div>
</div>
<div id="encadrement2">
    <main>
        <p>Contact Us</p>
        <form>
            <div id="name">
                <label>FULL NAME</label>
                <br>
                <input type="text" placeholder="Name" name="name">
                <br>
            </div>
            <div id="mail">
                <label>EMAIL ADDRESS</label>
                <br>
                <input type="email" placeholder="Email" name="mail">
            </div>
            <br>
            <label>SUBJECT</label>
            <br>
            <input type="text" placeholder="Subject" name="subject" id="subject">
            <br>
            <label>Message</label>
            <br>
            <textarea placeholder="Message" rows="5" cols=70></textarea>
            <br>
            <label id="send">Send message</label>
        </form>
    </main>
    <img src="../assets/img/img.jpg" alt="">
    <div class="clear"></div>

</div>
</body>
</html>