<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/Normalize.css">
    <link rel="stylesheet" href="../assets/css/Base.css">
    <link rel="stylesheet" href="../assets/css/style2.css">
    <title>Document</title>
</head>
<body>

   <div class="j">1</div> 
   <div class="t">2</div>
   <div class="j">3</div>
   <div class="t">4</div>
   <div class="j">5</div> 
   <div class="t">6</div>
   <div class="clear"></div>
   <div class="t">1</div> 
   <div class="v">2</div>
   <div class="r">3</div>
   <div class="v">4</div>
   <div class="r">5</div> 
   <div class="j">6</div>
    <div class="clear"></div>
    <div class="j">1</div> 
    <div class="v">2</div>
    <div class="r">3</div>
    <div class="n">4</div>
    <div class="b">5</div> 
    <div class="t">6</div>
    <div class="clear"></div>
    <div class="t">1</div> 
    <div class="v">2</div>
    <div class="r">3</div>
    <div class="b">4</div>
    <div class="r">5</div> 
    <div class="j">6</div>
    <div class="clear"></div>
    <div class="j">1</div> 
    <div class="v">2</div>
    <div class="b">3</div>
    <div class="v">4</div>
    <div class="r">5</div> 
    <div class="t">6</div>
    <div class="clear"></div>
    <div class="t">1</div> 
    <div class="j">2</div>
    <div class="t">3</div>
    <div class="j">4</div>
    <div class="t">5</div> 
    <div class="j">6</div>
</body>
</html>